<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">

	<!-- ========================================================= 자유게시판 공지 
		========================================================= -->

	<!-- 자유게시판 공지 목록 -->
	<select id="selectFreeNoticeList" resultType="NoticeDTO">
		SELECT
		P.POST_NUMBER,
		P.POST_TYPE,
		P.ADMIN_NUMBER,
		A.ADMIN_ID AS ADMIN_ID,
		P.POST_TITLE,
		P.POST_CONTENT,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT
		FROM TBL_POST P
		JOIN TBL_ADMIN A
		ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
		WHERE P.POST_TYPE = 'FREE_NOTICE'
		ORDER BY P.POST_NUMBER DESC
	</select>

	<!-- 자유게시판 공지 상세 -->
	<select id="selectFreeNoticeDetail" parameterType="int"
		resultType="NoticeDTO">
		SELECT
		P.POST_NUMBER,
		P.POST_TYPE,
		P.ADMIN_NUMBER,
		A.ADMIN_ID AS ADMIN_ID,
		P.POST_TITLE,
		P.POST_CONTENT,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT
		FROM TBL_POST P
		JOIN TBL_ADMIN A
		ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
		WHERE P.POST_NUMBER = #{value}
		AND P.POST_TYPE = 'FREE_NOTICE'
	</select>

	<!-- 자유게시판 공지 작성 -->
	<insert id="insertNotice" parameterType="NoticeDTO"
		useGeneratedKeys="true" keyProperty="postNumber"
		keyColumn="POST_NUMBER">
		INSERT INTO TBL_POST (
		POST_TYPE,
		USER_NUMBER,
		ADMIN_NUMBER,
		COMPANY_NUMBER,
		ANSWER_STATUS,
		POST_TITLE,
		POST_CONTENT,
		POST_DATE,
		VIEW_COUNT,
		EDIT_DATE
		) VALUES (
		'FREE_NOTICE',
		NULL,
		#{adminNumber},
		NULL,
		NULL,
		#{postTitle},
		#{postContent},
		NOW(),
		0,
		NOW()
		)
	</insert>

	<!-- 자유게시판 공지 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM TBL_POST
		WHERE POST_NUMBER = #{value}
		AND POST_TYPE = 'FREE_NOTICE'
	</delete>


	<!-- ========================================================= 자유게시판 일반 
		게시글 ========================================================= -->

	<!-- 자유게시판 일반 게시글 총 개수 -->
	<select id="getTotal" parameterType="map" resultType="int">
		SELECT COUNT(P.POST_NUMBER)
		FROM TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER = U.USER_NUMBER
		WHERE P.POST_TYPE = 'FREE_POST'
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'title'">
					AND P.POST_TITLE LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'writer'">
					AND U.USER_ID LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'content'">
					AND P.POST_CONTENT LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
	</select>

	<!-- 조회수 증가 -->
	<update id="updateReadCount" parameterType="int">
		UPDATE TBL_POST
		SET VIEW_COUNT = IFNULL(VIEW_COUNT, 0) + 1
		WHERE POST_NUMBER = #{value}
	</update>

	<!-- 자유게시판 일반 게시글 작성 -->
	<insert id="insert" parameterType="PostWriteDTO"
		useGeneratedKeys="true" keyProperty="postNumber"
		keyColumn="POST_NUMBER">
		INSERT INTO TBL_POST (
		POST_TYPE,
		USER_NUMBER,
		ADMIN_NUMBER,
		COMPANY_NUMBER,
		ANSWER_STATUS,
		POST_TITLE,
		POST_CONTENT,
		POST_DATE,
		VIEW_COUNT,
		EDIT_DATE
		) VALUES (
		#{postType},
		#{userNumber},
		NULL,
		NULL,
		NULL,
		#{postTitle},
		#{postContent},
		NOW(),
		0,
		NOW()
		)
	</insert>

	<!-- 자유게시판 일반 게시글 삭제 -->
	<delete id="delete" parameterType="PostDTO">
		DELETE FROM TBL_POST
		WHERE POST_NUMBER = #{postNumber}
		AND USER_NUMBER = #{userNumber}
		AND POST_TYPE = 'FREE_POST'
	</delete>

	<!-- 자유게시판 일반 게시글 상세 -->
	<select id="select" parameterType="int"
		resultType="PostDetailDTO">
		SELECT
		P.POST_NUMBER,
		P.POST_TITLE,
		U.USER_ID AS USER_ID,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT,
		P.POST_CONTENT,
		P.USER_NUMBER
		FROM TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER = U.USER_NUMBER
		WHERE P.POST_NUMBER = #{value}
		AND P.POST_TYPE = 'FREE_POST'
	</select>

	<!-- 자유게시판 일반 게시글 목록 -->
	<select id="selectAll" parameterType="map"
		resultType="PostListDTO">
		<bind name="offset" value="startRow - 1" />
		<bind name="pageSize" value="endRow - startRow + 1" />

		SELECT
		P.POST_NUMBER,
		P.POST_TITLE,
		U.USER_ID AS USER_ID,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT
		FROM TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER = U.USER_NUMBER
		WHERE P.POST_TYPE = 'FREE_POST'
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'title'">
					AND P.POST_TITLE LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'writer'">
					AND U.USER_ID LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="searchType == 'content'">
					AND P.POST_CONTENT LIKE CONCAT('%', #{keyword}, '%')
				</when>
			</choose>
		</if>
		ORDER BY P.POST_NUMBER DESC
		LIMIT #{pageSize} OFFSET #{offset}
	</select>


	<!-- ========================================================= 댓글 ========================================================= -->

	<!-- 댓글 목록 -->
	<select id="selectCommentList" parameterType="int"
		resultType="CommentViewDTO">
		SELECT
		C.COMMENT_NUMBER,
		C.POST_NUMBER,
		C.USER_NUMBER,
		U.USER_ID AS USER_ID,
		C.COMMENT_CONTENT,
		DATE_FORMAT(C.COMMENT_DATE, '%Y-%m-%d') AS COMMENT_DATE
		FROM TBL_COMMENT C
		JOIN TBL_USER U
		ON C.USER_NUMBER = U.USER_NUMBER
		WHERE C.POST_NUMBER = #{value}
		ORDER BY C.COMMENT_NUMBER ASC
	</select>

	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="CommentWriteDTO"
		useGeneratedKeys="true" keyProperty="commentNumber"
		keyColumn="COMMENT_NUMBER">
		INSERT INTO TBL_COMMENT (
		POST_NUMBER,
		USER_NUMBER,
		COMMENT_CONTENT,
		COMMENT_DATE
		) VALUES (
		#{postNumber},
		#{userNumber},
		#{commentContent},
		NOW()
		)
	</insert>

	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="CommentDTO">
		DELETE FROM TBL_COMMENT
		WHERE COMMENT_NUMBER = #{commentNumber}
		AND USER_NUMBER = #{userNumber}
	</delete>


	<!-- ========================================================= 관리자 자유게시판 
		========================================================= -->

	<!-- 관리자 자유게시판 글 총 개수 -->
	<select id="getAdminFreePostTotal" resultType="int">
		SELECT COUNT(POST_NUMBER)
		FROM TBL_POST
		WHERE POST_TYPE = 'FREE_POST'
	</select>

	<!-- 관리자 자유게시판 공지 1건 조회 -->
	<select id="selectAdminFreeNotice" resultType="NoticeDTO">
		SELECT
		P.POST_NUMBER,
		P.POST_TYPE,
		P.ADMIN_NUMBER,
		A.ADMIN_ID AS ADMIN_ID,
		P.POST_TITLE,
		P.POST_CONTENT,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT
		FROM TBL_POST P
		JOIN TBL_ADMIN A
		ON P.ADMIN_NUMBER = A.ADMIN_NUMBER
		WHERE P.POST_TYPE = 'FREE_NOTICE'
		ORDER BY P.POST_NUMBER DESC
		LIMIT 1
	</select>

	<!-- 관리자 자유게시판 공지 개수 -->
	<select id="getAdminFreeNoticeCount" resultType="int">
		SELECT COUNT(POST_NUMBER)
		FROM TBL_POST
		WHERE POST_TYPE = 'FREE_NOTICE'
	</select>

	<!-- 관리자 자유게시판 공지 최초 등록 -->
	<insert id="insertAdminFreeNotice" parameterType="map"
		useGeneratedKeys="true" keyProperty="postNumber"
		keyColumn="POST_NUMBER">
		INSERT INTO TBL_POST (
		POST_TYPE,
		USER_NUMBER,
		ADMIN_NUMBER,
		COMPANY_NUMBER,
		ANSWER_STATUS,
		POST_TITLE,
		POST_CONTENT,
		POST_DATE,
		VIEW_COUNT,
		EDIT_DATE
		) VALUES (
		'FREE_NOTICE',
		NULL,
		#{adminNumber},
		NULL,
		NULL,
		'자유게시판 공지',
		#{noticeContent},
		NOW(),
		0,
		NOW()
		)
	</insert>

	<!-- 관리자 자유게시판 공지 수정 -->
	<update id="updateAdminFreeNotice" parameterType="map">
		UPDATE TBL_POST
		SET POST_CONTENT = #{noticeContent},
		ADMIN_NUMBER = #{adminNumber},
		EDIT_DATE = NOW()
		WHERE POST_NUMBER = (
		SELECT POST_NUMBER
		FROM (
		SELECT POST_NUMBER
		FROM TBL_POST
		WHERE POST_TYPE = 'FREE_NOTICE'
		ORDER BY POST_NUMBER DESC
		LIMIT 1
		) LATEST_NOTICE
		)
	</update>

	<!-- 관리자 자유게시판 일반 게시글 목록 -->
	<select id="selectAdminFreePostList" parameterType="map"
		resultType="PostListDTO">
		<bind name="offset" value="startRow - 1" />
		<bind name="pageSize" value="endRow - startRow + 1" />

		SELECT
		P.POST_NUMBER,
		P.POST_TITLE,
		U.USER_ID AS USER_ID,
		DATE_FORMAT(P.POST_DATE, '%Y-%m-%d') AS POST_DATE,
		DATE_FORMAT(P.EDIT_DATE, '%Y-%m-%d') AS EDIT_DATE,
		P.VIEW_COUNT
		FROM TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER = U.USER_NUMBER
		WHERE P.POST_TYPE = 'FREE_POST'
		ORDER BY P.POST_NUMBER DESC
		LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<!-- 관리자 자유게시판 일반 게시글 삭제 -->
	<delete id="deleteAdminFreePost" parameterType="int">
		DELETE FROM TBL_POST
		WHERE POST_NUMBER = #{value}
		AND POST_TYPE = 'FREE_POST'
	</delete>

</mapper>